body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* App Css*/
.App {
  max-width: 500px;
  margin: 30px auto;
  text-align: center;
}
nav{
  padding: 5px;
}
nav ul {
  padding: 0;
}
nav ul li {
  display: inline-block;
  margin: 5px 10px;
}
.bookList {
  padding: 20px;
  margin-bottom: 20px;
}
.bookList ul{
  padding: 0;
  list-style-type: none;
}
.bookList li {
  padding: 10px;
  margin: 10px auto;
  border-radius: 10px;
}